<h1>Hello World!</h1>

<!-- All of the Node.js APIs are available in this renderer process. -->
We are using Node.js <script>document.write(process.versions.node)</script>,
Chromium <script>document.write(process.versions.chrome)</script>,
and Electron <script>document.write(process.versions.electron)</script>.

<div>
  <h3>Dialog</h3>
  <button class="btn btn-success" ng-click="_ctrl.openDialog()">Open Dialog</button>
</div>

<div>
  <h3>electron-store</h3>
  <label>{{ _ctrl.store.get('unicorn') }}</label>
  <label>{{ _ctrl.store.path }}</label>
</div>

<div>
  <h3>Extra Resources</h3>
  <img src="assets/image/pixel_black.png" width="32" height="32">
  <button ng-click="_ctrl.execExtraResource()">Exec</button>
</div>


<div>
  <h3>Load local video file</h3>
  <div>
    <input type="file" fileread="_ctrl.local_video_file" style="display: inline-block">
    <button ng-click="_ctrl.on_video_file_load()" style="display: inline-block">Load</button>
  </div>
  <div>
    <video id="video" width="300" height="250" controls></video>
  </div>
</div>

